div id=("#{dom_id personal_datum}") 
  p.my-5
    strong.block.font-medium.mb-1 First Name:
    = personal_datum.first_name
  p.my-5
    strong.block.font-medium.mb-1 Last Name:
    = personal_datum.last_name
  p.my-5
    strong.block.font-medium.mb-1 Nick Name:
    = personal_datum.nick_name
  p.my-5
    strong.block.font-medium.mb-1 Email:
    = personal_datum.email
  p.my-5
    strong.block.font-medium.mb-1 Phone:
    = personal_datum.phone
  hr/
