<% employments.each do |employment| %>
  <div id="<%= dom_id employment %>">
    <p class="my-5">
      <strong class="block font-medium mb-1">Employeer:</strong>
      <%= employment.employeer %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Date started:</strong>
      <%= employment.date_started %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Date employment ended:</strong>
      <%= employment.date_employment_ended %>
    </p>
  </div>

<%end%>